

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">           
            <div class="row">
                <div class="col-sm-6">
                    <h1>Pyro FHIR Server</h1>
                    <p>Fhir Endpoint:</p><code class="alert-info">Test.STU3.PyroHealth.net/FhirApi/</code>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <img class="img-responsive" src="~/Images/PyroIcon2.jpg" alt="Pyro" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4 class="text-info"><span class="glyphicon glyphicon-wrench"></span> Implementation</h4>
                    <p>This Pyro Server implements the May 2016 WGM Connectathon release of FHIR STU3 and is built utilising the official <a href="http://ewoutkramer.github.io/fhir-net-api/">.NET API for FHIR</a>. </p>
                    <p>The server supports CRUD, VRead and all search parameters and Resources as of the <a href="https://www.linkedin.com/in/angus-millar-64298342?trk=hp-identity-name">May 2016 STU3</a> version of FHIR. </p> 
                    <p>This server is used for testing only and it's resources maybe removed and reset at any time.</p>                    
                </div>
                <div class="col-sm-4">
                    <h4 class="text-info"><span class="glyphicon glyphicon-sunglasses"></span> Who am I?</h4>
                    <p>My name is <a href="https://www.linkedin.com/in/angus-millar-64298342?trk=hp-identity-name">Angus Millar</a>. 
                    I am a keen integration specialist with many years of health informatics experience. 
                    My passion lies in Pathology systems and data yet over my years I have been exposed to all accepts of health 
                    integration having worked at Kestral Computing, QLD Health, NeHTA and the ADHA.</p>
                </div>
                <div class="col-sm-4">
                    <h4 class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Information</h4>                    
                    <p>Links to interesting FHIR based resources</p>
                    <p><a href="http://hl7.org/fhir/2016May/index.html" class="btn btn-primary btn-sm">FHIR Standard May 2016 STU3 &raquo;</a></p>
                    <p><a href="http://fhir-drills.github.io/" class="btn btn-primary btn-sm">Fhir Drills, FHIR tutorials &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
 </div>
