

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">           
            <div class="row">
                <div class="col-sm-6">
                    <h2>Pyro FHIR Server</h2>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <img class="img-responsive" src="~/Images/PyroIcon2.jpg" alt="Pyro" />
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

<div class="container">
    <div class="jumbotron">

        @*<img src="Views\Home\FHIR.png" alt="Sample Photo" />*@
        <p class="lead">STU3 implementation of a FHIR server</p>
        <p><a href="http://hl7.org/fhir/2016May/index.html" class="btn btn-primary btn-lg">FHIR Standard May2016 STU3 &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-1">
            <p>test</p>
        </div>
    </div>
</div>
