<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- This is the BackBurner project -->

  <!--Thre are no command as yet for this project-->
  
  <!-- =====================================================================================================
       Command: [Add Command Name]
       Value: [Type of value, i.e String, int, URL ...etc]
       Default: [What the default is for the command]
       Description: [Add a description for the command] -->

  <!--<add key="[CommandName]" value="[Command Value]" />-->

  <!-- =====================================================================================================  -->
  
</appSettings>
