<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <!-- THIS IS THE WEB PROJECT FILE-->

  <!-- Pyro: Production PyroHealth.net Wed Server -->
  <add name="PyroConnectionString" connectionString="Data Source=WIN-VUQJKNPREM0\SQLEXPRESS;Initial Catalog=Pyro;Integrated Security=true" providerName="System.Data.SqlClient" />

  <!-- PyroWeb: Local Wed Server SQL for development -->
  <!--<add 
    name="PyroConnectionString" 
    connectionString="Data Source=R90F31GC\SQLEXPRESS;Initial Catalog=PyroWeb;Integrated Security=true" 
    providerName="System.Data.SqlClient" />-->


  <!-- PyroServer: Amazon Web Services (AWS) Production -->
  <!--<add
      name="PyroConnectionString"                        
      connectionString="Data Source=pyroserver.cnjc9wagxmmn.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=Pyro;User ID=pyroserver;Password=W8etheb3agepufa;"
      providerName="System.Data.SqlClient" />-->

  <!--PostgresSQL-->
  <add name="PyroConnectionString"
       connectionString="Server=127.0.0.1;Port=5432;Database=PyroConsole2;User Id=postgres;Password=sa"
       providerName="Npgsql" />
  

</connectionStrings>
