<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <!-- THIS IS THE WEB PROJECT FILE-->
  <!-- ############ ReadMe ##############################################################
       The Pyro FHIR Server can use either 'Microsoft SQL Server' or 'PostgreSQL' as its database.
       Below are is the syntax for each. Please note that only one of each can be ative at any one time.
       The server will not start if they are more than one.
       
       Microsoft SQL Server
       <add name="PyroConnectionString" 
       connectionString="[Your Microsoft SQL Server connection string]" 
       providerName="System.Data.SqlClient" />
       
       PostgreSQL
       <add name="PyroConnectionString"
       connectionString="[Your PostgreSQL connection string]"
       providerName="Npgsql" />
  -->

  <!--### Microsoft SQL Server ################################################################################-->
  
  <!-- Pyro: Production PyroHealth.net Wed Server -->
  <add name="PyroConnectionString" 
       connectionString="Data Source=WIN-VUQJKNPREM0\SQLEXPRESS;Initial Catalog=Pyro;Integrated Security=true" 
       providerName="System.Data.SqlClient" />

  <!-- PyroWeb: Local Wed Server SQL for development -->
  <!--<add 
    name="PyroConnectionString" 
    connectionString="Data Source=R90F31GC\SQLEXPRESS;Initial Catalog=PyroWeb;Integrated Security=true" 
    providerName="System.Data.SqlClient" />-->


  <!-- PyroServer: Amazon Web Services (AWS) Production -->
  <!--<add
      name="PyroConnectionString"                        
      connectionString="Data Source=pyroserver.cnjc9wagxmmn.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=Pyro;User ID=pyroserver;Password=W8etheb3agepufa;"
      providerName="System.Data.SqlClient" />-->

  <!--### PostgresSQL ################################################################################-->
  
  <!--<add name="PyroConnectionString"
       connectionString="Server=127.0.0.1;Port=5432;Database=PyroConsole2;User Id=postgres;Password=sa"
       providerName="Npgsql" />-->


</connectionStrings>
