<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- THIS IS THE WEB PROJECT FILE-->

  <!-- =====================================================================================================
       Command: ServiceBaseURL
       Value: URL String
       Description: This setting sets the service's Service Base URL and must match the URL where the service 
       is hosted. Care must be taken changing this URL post the service being in operation as the 
       physical Resources and the search indexes in the database, and any external references with still have 
       the previous URL reference. In practice, all Resource would need to be updated and recommitted. 
       Simply changing this setting here does not perform those referances updates. -->

  <!-- Production PyroHealth.net Wed Server -->
  <add key="ServiceBaseURL" value="https://stu3.test.pyrohealth.net/fhir" />
  
  <!-- Local Wed Server for development -->
  <!--<add key="ServiceBaseURL" value="https://localhost:53761/fhir" />-->

  <!-- =====================================================================================================
       Command: ApplicationCacheServicesActive
       Value: boolean
       Description: This setting turns on or off the Application Cache. 
       This is primarily turned off to assist in debugging where the caching can complicate 
       the debugging process. Under normal production operation this should be set to True-->
  <add key="ApplicationCacheServicesActive" value="True" />

  <!-- ===================================================================================================== 
       Command: NumberOfRecordsPerPageDefault
       Value: integer
       Description: This setting is to set the default number of Resource returned in a bundle, for example,
       in a FHIR search call. The default can be over-ridden per API call using the _count search parameter
       in the call. -->
  <add key="NumberOfRecordsPerPageDefault" value="50" />

  <!-- ===================================================================================================== 
       Command: MaxNumberOfRecordsPerPage
       Value: integer       
       Description: This setting is to set the absolute maximum number of Resource that can be requested 
       when using the _count search parameter. For example, if a API caller sets the parameter _count=500 
       and this command 'MaxNumberOfRecordsPerPage' is set to 200 then the _count search parameter value 
       will be ignored and only 200 will be returned. This is to prevent users asking for a _count value 
       that is to large, resulting is poor performance of the service. Also beware that the service has 
       an internal setting called 'SystemDefaultMaxNumberOfRecordsPerPage' that can not be changed by 
       configuration. This command 'MaxNumberOfRecordsPerPage' cannot exceed the 
       'SystemDefaultMaxNumberOfRecordsPerPage' command which is currently set at 5000 and the command 
       here will default to the 'SystemDefaultMaxNumberOfRecordsPerPage' value if set higher.-->
  <add key="MaxNumberOfRecordsPerPage" value="200" />

  <!-- =====================================================================================================
       Command: FhirAuditEventLogRequestData
       Value: boolean
       Description: Every request made to the Server's FHIR API is audited as a FHIR AuditEvent resource.
       When this setting is set to True a Audit.Entity instance will be added to these resources containing 
       the orginial request data including the entire Resource containd in the request where one is given.
       If set to False this entity will not be added yet AuditEvent resources will still be created for every 
       request with all the other properties of the request.
       This is primarily set to False to prevent the AuditEvent resources growing excessively in size on disk.    
  -->
  <add key="FhirAuditEventLogRequestData" value="False" />

  <!-- =====================================================================================================
       Command: FhirAuditEventLogResponseData
       Value: boolean
       Description: Every request made to the Server's FHIR API is audited as a FHIR AuditEvent resource.
       When this setting is set to True a Audit.Entity instance will be added to these resources containing 
       the orginial response data including the entire Resource returned in requests where one is given.
       If set to False this entity will not be added yet AuditEvent resources will still be created for every 
       request with all the other properties of the request.
       This is primarily set to False to prevent the AuditEvent resources growing excessively in size on disk.    
  -->
  <add key="FhirAuditEventLogResponseData" value="False" />



</appSettings>
