<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- THIS IS THE WEB PROJECT FILE-->

  <!-- Production PyroHealth.net Wed Server -->
  <add key="ServiceBaseURL" value="http://pyrohealth.net/test/stu3/fhir" />

  <!-- Local Wed Server for development -->
  <!--<add key="ServiceBaseURL" value="https://localhost:50579/test/stu3/fhir" />-->

  <add key="ApplicationCacheServicesActive" value="True" />
</appSettings>
