@*@model Pyro.Web.Areas.FhirClientPage.Controllers.FhirClientController*@
@model Pyro.Web.Areas.FhirClientPage.Models.FhirClientViewModel
@Scripts.Render("~/bundles/typeahead")
@Scripts.Render("~/bundles/FhirRest")

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/googlecode.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>  
<script>hljs.initHighlightingOnLoad();</script>  

@{
  ViewBag.Title = "Pyro FHIR Client";
}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-9">
          <h4>Pyro Server</h4>
        </div>
        <div class="col-sm-3">
          <img class="img-circle" width="50" height="50" src="~/Content/Images/PyroIcon-100.png" alt="Pyro" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9">
          <p>
            <div id="bloodhound">
              <input id="queryString" class="typeahead form-control" type="text" value="Patient/IHIStatusExample" placeholder="Resource Name">
              <button id="searchButton" class="btn btn-primary">Search</button>
            </div>
          </p>
        </div>
      </div>
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#jsonPill">JSON</a></li>
            <li><a data-toggle="pill" href="#xmlPill">XML</a></li>
            <li><a data-toggle="pill" href="#treePill">Tree</a></li>
          </ul>

          <div class="tab-content">
            <div id="jsonPill" class="tab-pane fade in active">
              <p>
                <p><text>HTTP Status: </text><strong id="fhirjsonStatus"></strong></p>
                <pre><code class="json" id="fhirjson">FHIR Resource Loading...</code></pre>
              </p>
            </div>
            <div id="xmlPill" class="tab-pane fade">
              <p>
                <p><text>HTTP Status: </text><strong id="fhirxmlStatus"></strong></p>
                <pre><code class="xml" id="fhirxml">FHIR Resource Loading...</code></pre>
              </p>
            </div>
            <div id="treePill" class="tab-pane fade">
              <p>
                <pre><code id="fhirtree">FHIR Resource Loading...</code></pre>
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
<script>
  $(document).ready(function () {
    OnPageLoad('@Model.ServiceBaseRoot')
  })

</script>




