<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--PyroConsole For development-->
  <!--<add name="PyroConnectionString" connectionString="Data Source=R90F31GC\SQLEXPRESS;Initial Catalog=PyroConsole;Integrated Security=true" providerName="System.Data.SqlClient" />-->
  <add name="PyroConnectionString" connectionString="Data Source=R90G68H5\SQLEXPRESS;Initial Catalog=PyroConsole;Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>
