<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <!-- ############ ReadMe ##############################################################
       The Pyro FHIR Server can use either 'Microsoft SQL Server' or 'PostgreSQL' as its database.
       Below are is the syntax for each. Please note that only one of each can be ative at any one time.
       The server will not start if they are more than one.
       
       Microsoft SQL Server
       <add name="PyroConnectionString" 
       connectionString="[Your Microsoft SQL Server connection string]" 
       providerName="System.Data.SqlClient" />
       
       PostgreSQL
       <add name="PyroConnectionString"
       connectionString="[Your PostgreSQL connection string]"
       providerName="Npgsql" />
  -->

  <!--PyroConsole For development-->
  
  <!--Microsoft SQL Server-->

  <!--<add name="PyroConnectionString" 
       connectionString="Server=R90G68H5\SQLEXPRESS;Database=PyroConsoleBack;User Id=Pyro;Password=prometheus;" 
       providerName="System.Data.SqlClient" />-->

  <!--PostgresSQL-->    

  <add name="PyroConnectionString"
       connectionString="Server=127.0.0.1;Port=5432;Database=PyroSTU3;User Id=postgres;Password=sa"
       providerName="Npgsql" />
  
</connectionStrings>
