<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!-- PyroConsole for development -->
  <add key="ServiceBaseURL" value="http://localhost:8888/fhir" />

  <add key="ApplicationCacheServicesActive" value="True" />

  <add key="NumberOfRecordsPerPageDefault" value="50" />

  <add key="MaxNumberOfRecordsPerPage" value="200" />

</appSettings>
