<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!-- ======== Pyro.ConsoleServer configuration for development =================================================== 
  For the full documentation for each of these commands please reffer to the Web.config
  file located in the Pyro.WebApi project in the App_Data folder.
  
  These commands are identical yet they only apply the Pyro.ConsoleServer project used in development
  -->
  <add key="ServiceBaseURL" value="http://localhost:8888/fhir" />

  <add key="FHIRApiAuthentication" value="False" />
  
  <add key="AuthenticationServerUrl" value="https://localhost:44300/" />

  <add key="ThisServersEntityCode" value="TestPyroServer" />
  
  <add key="ThisServersEntitySystem" value="https://Pyrohealth.net/Codesystem/ServerInstance" />
  
  <add key="ThisServersManagingOrganizationResource" value="" />

  <add key="LoadFhirDefinitionResources" value="True" />
  
  <add key="ApplicationCacheServicesActive" value="True" />

  <add key="NumberOfRecordsPerPageDefault" value="100" />

  <add key="MaxNumberOfRecordsPerPage" value="200" />

  <add key="FhirAuditEventLogRequestData" value="False" />

  <add key="FhirAuditEventLogResponseData" value="False" />

  <add key="ServerReadOnlyMode" value="False" />

  <add key="ServerReadOnlyModeMessage" value="The server will be in read only mode for 15 min and is planned to be back at 3:00 PM" />
  
<!-- =========== HI Service Commands ========================================================-->  
  <add key="HIServiceConnectivityActive" value="True" />
  
  <add key="HIServiceCertificateSerialNumber" value="0608d9" />
  
  <add key="HIServiceEndpoint" value="https://www5.medicareaustralia.gov.au/cert/soap/services/" />
  
  <add key="HIServiceProductName" value="HIAgent" />
  
  <add key="HIServiceProductVersion" value="1.0.0" />
  
  <add key="HIServiceVendorId" value="NEHTA001" />
  
  <add key="HIServiceVendorIdQualifier" value="http://ns.electronichealth.net.au/id/hi/vendorid/1.0" />

  <add key="HIServiceIHIValidationPeriodDays" value="3" />

</appSettings>
