<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net46" />
  <package id="AWS.Logger.Core" version="1.2.0" targetFramework="net46" />
  <package id="AWS.Logger.NLog" version="1.2.0" targetFramework="net46" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.4.8" targetFramework="net46" />
  <package id="AWSSDK.Core" version="3.3.22.3" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="EntityFramework6.Npgsql" version="3.2.0" targetFramework="net46" />
  <package id="Hl7.Fhir.Specification.STU3" version="0.96.0" targetFramework="net46" />
  <package id="Hl7.Fhir.STU3" version="0.96.0" targetFramework="net46" />
  <package id="Hl7.Fhir.Support" version="0.96.0" targetFramework="net46" />
  <package id="Hl7.FhirPath" version="0.96.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="NLog" version="4.5.8" targetFramework="net46" />
  <package id="Npgsql" version="4.0.2" targetFramework="net46" />
  <package id="SimpleInjector" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
  <package id="Topshelf" version="4.0.4" targetFramework="net46" />
</packages>